p.scroll {position: relative;margin:10px auto;font-size:18px;background:url(/img/icon.png) no-repeat center bottom;background-size:40px;padding-top:80px;}
p.scroll span {height:200px;position: absolute;width:20px;transform-origin: bottom center;top:0;left:50%;text-transform: uppercase}
p.tag {width:100%;text-align:center;}
div.banner {opacity: 0.6}
.quotebox h1 {float: left;
    width: 245px;
    margin: 0 18px 0 0;
    border: 1px solid black !important;
    height: 245px;
    display: block;
    padding: 20px;
    text-align: right;
    padding-top: 3em;
}